.tasks {
  &-header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--p-text-color);
  }

  &-header-options {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
